<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="DAO.Properties.Settings.ConnectionString" connectionString="Data Source=N-Note;User ID=autom;Password=autom;Unicode=True" providerName="System.Data.OracleClient" />-->
    <add name="Entities" connectionString="metadata=res://*/ModeloDatos.csdl|res://*/ModeloDatos.ssdl|res://*/ModeloDatos.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/XE;PASSWORD=autom;USER ID=AUTOM&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <!--><appSettings>
    <add key="CONEXION" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)&#xD;&#xA;(HOST=N-Note)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));&#xD;&#xA;User Id=AUTOM;Password=autom;Enlist=false;Pooling=true" />
  </appSettings>-->
</configuration>